body {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  font-family: montserrat;
  color: white;
  background-color: #000;
}
p {
  color: white;
  font-size: 30px;
  padding: 50px;
}
h1 {
  color: white;
  font-size: 50px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  border-bottom: 1px solid #ffff9d;
  position: sticky;
  top: 0;
}
.menu {
  display: flex;
  padding: 20px;
}
.menu ul li {
  display: inline;
  list-style: none;
  padding: 30px;
}
.menu ul li a {
  padding: 20px;
  text-decoration: none;
  color: #ffff9d;
  font-weight: 700;
}
.menu ul li a:hover {
  background-color: #feff00;
  color: #000;
}
.section {
  display: none;
}
.section.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  margin-top: 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #000;
}
#section1 {
  margin-top: 150px;
  p {
    font-size: 40px;
    text-align: center;
  }
}
#section4 {
  .container2 {
    display: grid;
    grid-template-columns: 50px 200px 250px 250px 200px 50px;
    grid-template-rows: 10px repeat(2, 250px) 10px;
    background-color: #000;
    gap: 40px;
  }
  #t1 {
    grid-row: 1;
    grid-column: 2/3;
  }
  #p1 {
    grid-row: 2;
    grid-column: 2 / 4;
    background-color: #808080;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 0px #feff00;
    a {
      position: relative;
      text-decoration: none;
      font-size: 30px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    img {
      max-width: 50%;
    }
  }
  #p2 {
    grid-row: 2;
    grid-column: 4 / 6;
    background-color: #808080;
    box-shadow: -10px 10px 0px #feff00;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      position: relative;
      text-decoration: none;
      font-size: 30px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    img {
      max-width: 50%;
    }
  }
  #p3 {
    grid-row: 3;
    grid-column: 2/ 4;
    background-color: #808080;
    box-shadow: -10px 10px 0px #feff00;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      position: relative;
      text-decoration: none;
      font-size: 30px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
    img {
      max-width: 50%;
    }
  }
  #p4 {
    grid-row: 3;
    grid-column: 4 / 6;
    background-color: #808080;
    box-shadow: -10px 10px 0px #feff00;
  }
}
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 100px;
}
#social {
  grid-row: 2;
  width: 300px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #808080;
  box-shadow: -10px 10px 0px #feff00;
  button {
    width: 150px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    background-color: #000;
    border: 1px solid #feff00;
    color: #fff;
    font-family: montserrat;
    font-weight: 900;
    cursor: pointer;
  }
  button:hover {
    background-color: #feff00;
    color: #000;
  }
}
#form {
  grid-row: 2;
  margin-left: 0;
  width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #808080;
  box-shadow: -10px 10px 0px #feff00;
  h3 {
    padding-top: 20px;
    padding-bottom: 0;
  }
  p {
    font-size: 20px;
    padding: 0;
  }
  input,
  textarea {
    display: flex;
    justify-content: flex-start;
    background-color: #000;
    border: 1px solid #feff00;
    color: #fff;
    font-family: montserrat;
    font-weight: 400;
  }
  textarea {
    height: 60px;
    width: 170px;
    resize: none;
  }
  input[type="submit"] {
    background-color: #000;
    border: 1px solid #feff00;
    color: #fff;
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #feff00;
    color: #000;
  }
}
span {
  color: #feff00;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  body {
    font-size: 20px;
  }
  p {
    font-size: 23px;
  }
  .menu ul li {
    display: inline-block;
    padding: 15px;
  }
  .menu ul li a {
    padding: 10px;
  }
  .header {
    position: relative;
    img {
      display: block;
      margin-top: 15px;
    }
    .section.active {
      flex-wrap: wrap;
    }
  }
  .section.active {
    margin-top: 10px;
    padding: 0;
    max-width: 100%;
    p {
      margin-top: 0;
    }
  }
  #section1 {
    margin-top: 0;
  }
  #section4 {
    .container2 {
      grid-template-columns: 300px;
      grid-template-rows: 20px repeat(4, 280px) 50px;
      gap: 30px;
      #t1 {
        grid-column: 1;
        grid-row: 1;
      }
      #p1 {
        grid-column: 1 / -1;
        grid-row: 2;
        img {
          max-width: 100%;
        }
      }
      #p2 {
        grid-column: 1 / -1;
        grid-row: 3;
        img {
          max-width: 100%;
        }
      }
      #p3 {
        grid-column: 1 / -1;
        grid-row: 4;
        img {
          max-width: 100%;
        }
      }
      #p4 {
        grid-column: 1 / -1;
        grid-row: 5;
      }
    }
  }
  .container3 {
    grid-template-columns: 1fr;
    margin-top: 30px;
    #social {
      grid-column: 1;
      grid-row: 1;
      padding: 20px;
    }
    #form {
      grid-column: 1;
      grid-row: 2;
      padding: 20px;
    }
  }
}
